{% extends 'index.html' %}

{% block body %}
    <center>
        <div class = "container">
        <h1>Add Lecture to Database</h1>
        <br><br/>
        {% if submitted %}
        Lecture has been added to the timetable!!
        <a href="add_lecture">Add another</a>
        {% else %}
        <form action = "" method = POST>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
        {% endif %}
    </div>
    </center>
{% endblock  %}
